img#c0000, img#c1000, img#c2000 {
  top: 0px;
  left: 0px; 
}

img#c1000 {
  top: -120px;
  left: 0px;
}

img#c2000 {
  top: -120px;
  left: 0px;
}

  
img#c0010, img#c1010, img#c2010 {
  top: 0px;
  left: -180px; 
}

img#c1010 {
  top: -120px;
  left: -180px;
}

img#c2010 {
  top: -120px;
  left: -180px;
}

  
img#c0020, img#c1020, img#c2020 {
  top: 0px;
  left: -360px; 
}

img#c1020 {
  top: -120px;
  left: -360px;
}

img#c2020 {
  top: -120px;
  left: -360px;
}

  
img#c0100, img#c1100, img#c2100 {
  top: 0px;
  left: -540px; 
}

img#c1100 {
  top: -120px;
  left: -540px;
}

img#c2100 {
  top: -120px;
  left: -540px;
}

  
img#c0110, img#c1110, img#c2110 {
  top: 0px;
  left: -720px; 
}

img#c1110 {
  top: -120px;
  left: -720px;
}

img#c2110 {
  top: -120px;
  left: -720px;
}

  
img#c0120, img#c1120, img#c2120 {
  top: 0px;
  left: -900px; 
}

img#c1120 {
  top: -120px;
  left: -900px;
}

img#c2120 {
  top: -120px;
  left: -900px;
}

  
img#c0200, img#c1200, img#c2200 {
  top: 0px;
  left: -1080px; 
}

img#c1200 {
  top: -120px;
  left: -1080px;
}

img#c2200 {
  top: -120px;
  left: -1080px;
}

  
img#c0210, img#c1210, img#c2210 {
  top: 0px;
  left: -1260px; 
}

img#c1210 {
  top: -120px;
  left: -1260px;
}

img#c2210 {
  top: -120px;
  left: -1260px;
}

  
img#c0220, img#c1220, img#c2220 {
  top: 0px;
  left: -1440px; 
}

img#c1220 {
  top: -120px;
  left: -1440px;
}

img#c2220 {
  top: -360%;
  left: 0%;
}

  
img#c0001, img#c1001, img#c2001 {
  top: -360px;
  left: 0px; 
}

img#c1001 {
  top: -480px;
  left: 0px;
}

img#c2001 {
  top: -480px;
  left: 0px;
}

  
img#c0011, img#c1011, img#c2011 {
  top: -360px;
  left: -180px; 
}

img#c1011 {
  top: -480px;
  left: -180px;
}

img#c2011 {
  top: -100%;
  left: -200%;
}

  
img#c0021, img#c1021, img#c2021 {
  top: -360px;
  left: -360px; 
}

img#c1021 {
  top: -480px;
  left: -360px;
}

img#c2021 {
  top: -480px;
  left: -360px;
}

  
img#c0101, img#c1101, img#c2101 {
  top: -360px;
  left: -540px; 
}

img#c1101 {
  top: -480px;
  left: -540px;
}

img#c2101 {
  top: -480px;
  left: -540px;
}

  
img#c0111, img#c1111, img#c2111 {
  top: -360px;
  left: -720px; 
}

img#c1111 {
  top: -480px;
  left: -720px;
}

img#c2111 {
  top: -480px;
  left: -720px;
}

  
img#c0121, img#c1121, img#c2121 {
  top: -360px;
  left: -900px; 
}

img#c1121 {
  top: -480px;
  left: -900px;
}

img#c2121 {
  top: -480px;
  left: -900px;
}

  
img#c0201, img#c1201, img#c2201 {
  top: -360px;
  left: -1080px; 
}

img#c1201 {
  top: -480px;
  left: -1080px;
}

img#c2201 {
  top: -480px;
  left: -1080px;
}

  
img#c0211, img#c1211, img#c2211 {
  top: -360px;
  left: -1260px; 
}

img#c1211 {
  top: -480px;
  left: -1260px;
}

img#c2211 {
  top: -480px;
  left: -1260px;
}

  
img#c0221, img#c1221, img#c2221 {
  top: -360px;
  left: -1440px; 
}

img#c1221 {
  top: -480px;
  left: -1440px;
}

img#c2221 {
  top: -480px;
  left: -1440px;
}

  
img#c0002, img#c1002, img#c2002 {
  top: -720px;
  left: 0px; 
}

img#c1002 {
  top: -840px;
  left: 0px;
}

img#c2002 {
  top: -840px;
  left: 0px;
}

  
img#c0012, img#c1012, img#c2012 {
  top: -720px;
  left: -180px; 
}

img#c1012 {
  top: -840px;
  left: -180px;
}

img#c2012 {
  top: -840px;
  left: -180px;
}

  
img#c0022, img#c1022, img#c2022 {
  top: -720px;
  left: -360px; 
}

img#c1022 {
  top: -840px;
  left: -360px;
}

img#c2022 {
  top: -840px;
  left: -360px;
}

  
img#c0102, img#c1102, img#c2102 {
  top: -720px;
  left: -540px; 
}

img#c1102 {
  top: -840px;
  left: -540px;
}

img#c2102 {
  top: -840px;
  left: -540px;
}

  
img#c0112, img#c1112, img#c2112 {
  top: -720px;
  left: -720px; 
}

img#c1112 {
  top: -840px;
  left: -720px;
}

img#c2112 {
  top: -840px;
  left: -720px;
}

  
img#c0122, img#c1122, img#c2122 {
  top: -720px;
  left: -900px; 
}

img#c1122 {
  top: -840px;
  left: -900px;
}

img#c2122 {
  top: -840px;
  left: -900px;
}

  
img#c0202, img#c1202, img#c2202 {
  top: -720px;
  left: -1080px; 
}

img#c1202 {
  top: -840px;
  left: -1080px;
}

img#c2202 {
  top: -840px;
  left: -1080px;
}

  
img#c0212, img#c1212, img#c2212 {
  top: -720px;
  left: -1260px; 
}

img#c1212 {
  top: -840px;
  left: -1260px;
}

img#c2212 {
  top: -840px;
  left: -1260px;
}

  
img#c0222, img#c1222, img#c2222 {
  top: -720px;
  left: -1440px; 
}

img#c1222 {
  top: -840px;
  left: -1440px;
}

img#c2222 {
  top: -840px;
  left: -1440px;
}