<html>
  <head>
    <title>My Set Game</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/min-sprites.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="box">
              <div class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite three solid" id="c0221" src="/img/00.png" alt="cards">
              </div>
            </div>
          </td>
          <td>
            <div class="box">
              <div class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite three striped" id="c0221" src="/img/22.png" alt="cards">
              </div>
            </div>
          </td>
          <td>
            <div class="box">
              <div class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite" id="c0221" src="/img/00.png" alt="cards">
              </div>
            </div>
          </td>
          <td>
            <div class="box">
              <div class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite two empty" id="c0221" src="/img/00.png" alt="cards">
              </div>
            </div>
          </td>          
        </tr>
        <tr>
          <td>
            <div class="box">
              <div class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite" id="c0221" src="/img/00.png" alt="cards">
              </div>
            </div>
          </td>
          <td>
            <div class="box">
              <div class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite" id="c0221" src="/img/00.png" alt="cards">
              </div>
            </div>
          </td>
          <td>
            <div class="box">
              <a class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite one solid" id="c0221" src="/img/00.png" alt="cards">
              </a>
            </div>
          </td>
          <td>
            <div class="box">
              <a class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite three empty" id="c0221" src="/img/02.png" alt="cards">
              </a>
            </div>
          </td>          
        </tr>
        <tr>
          <td>
            <div class="box">
              <a class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite" id="c0221" src="/img/00.png" alt="cards">
              </a>
            </div>
          </td>
          <td>
            <div class="box">
              <a class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite" id="c0221" src="/img/00.png" alt="cards">
              </a>
            </div>
          </td>
          <td>
            <div class="box">
              <a class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite" id="c0221" src="/img/00.png" alt="cards">
              </a>
            </div>
          </td>
          <td>
            <div class="box">
              <a class="stretchy no-limit" href="#">
                <img class="spacer" src="/img/spacer.png" alt="spacer">
                <img class="sprite" id="c0221" src="/img/00.png" alt="cards">
              </a>
            </div>
          </td>          
        </tr>        
      </tbody>
    </table>
  </body>
</html>