<!DOCTYPE html>
<html>
  <head>
    <title>My Set Game</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/min-sprites.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div id="pregame">
      <div id="pregame-content">
      <p>Welcome to the amazing four-dimensional matching game!</p>
      <p>Now with amazing multi-player!</p>
      <p><a href="/solo">Play</a> single-player match!</p>
      <p><a href="/multi">Play</a> multi-player!</p>
      </div>
    </div>
  </body>
</html>