<!DOCTYPE html>
<html>
  <head>
    <title>My Set Game</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/clean.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div id="pregame">
      <div id="pregame-content">
        <p>Welcome to the amazing four-dimensional matching game!</p>
        <span>Easy<input id="difficulty" type="range" min="6" max="24">Hard</span><br>
        <p>
          (<input id="super-difficult" type="checkbox"> Harder Still)</p>
        <p>First to get 9 points is the winner!</p>
<!--        <span>First to 9<input id="gametype" type="range" min="0" max="1" value="0">Bitter End</span><br>-->
        <button id="start-button" onclick="">Start the Game</button>
        <div id="pregame-bottom">
          <p>scoring: you get one point for every set, lose half a point for a false call</p>
          <p><strong>keyboard tips</strong></p>
          <p>hit 's' to call out your set, 'g' to lock in your choice<br>'r' reshuffles the deck</p>
          <p><a class="button" href="/rules">How to Play</a><a class="button" href="/scores">See High Scores</a></p>
          
        </div>
        
      </div>
    </div>
    <div id="colOne">
    <div id="topbar">
      <div><p id="timer"></p></div>
      <div><p id="score-info"></p></div>
      <div><p id="countdown">-</p></div>
    </div>
    <div id="middle">
      <div id="board">
      </div>
      <div id="controls">
        <button id="submit" type="button" onclick="">Go!</button>
        <button id="declare-set" type="button" onclick="">SET!</button>
      </div>
    </div>
    <div id="bottom-row">
      <div id="game-info">
        <div id="all-scores">
          <p id="your-score"></p>
          <p id="opponent-score"></p>
        </div>
        <div id="board-info">
          <p id="remaining"></p>
          <p id="sets-on-board"></p>
        </div>
      </div>
      <div id="button-holder">
        <button type="button" id="reshuffle" onclick="">Reshuffle</button>
        <button type="button" id="replay" onclick="">Restart!</button>
      </div>
    </div>
    </div>
    <script>var lowScore = {{ lowest_score }}</script>
    <script src="/js/table.js"></script>
  </body> 
</html>