{% extends 'base.html' %}

{% block content %}
  <body>
    <div id="pregame">
      <div id="pregame-content">
        <p>Welcome to the amazing four-dimensional matching game, {{ player }}! (<a href="/host">change</a>)</p>
        <p>Send your friends <a href="/join?g={{ game_key }}">this</a> link!</p>
        <p>(http://wrb-set-multi.appspot.com/join?g={{ game_key }})</p>
        <p>Or give them this code: {{ game_key }} </p>
        <button id="start-button" onclick="">Start the Game</button>
<!--        <button id="add-computer" onclick="">Add Computer</button>-->
        <div id="pregame-bottom">
          <p><strong>keyboard tips</strong></p>
          <p>hit 's' to call out your set,'r' reshuffles the deck</p>
      {% include 'pregame-players.html' %}
        </div>  
        </div>
        
      </div>
    </div>
  <div id="colOne">
    <div id="topbar">
      <div id="timer"></div>
      <div id="reminder"><p>Hit &quot;s&quot; when you see a set!</p></div>
      <div id="declaration"><p>Somebody called SET!</p></div>
      <div id="countdown"></div>
    </div>
    <div id="middle">
      <div id="board">
      </div>
      <div id="controls">
        <button id="submit" type="button" onclick="">Go!</button>
        <button id="declare-set" type="button" onclick="">SET!</button>
      </div>
    </div>
    <div id="bottom-row">
      <div id="game-info">
        <div id="all-scores">
        </div>
        <div id="board-info">
          <p id="remaining"></p>
          <p id="sets-on-board"></p>
        </div>
      </div>
      <div id="bottom">
        <button type="button" id="reshuffle" onclick="">Reshuffle</button>
        <button type="button" id="replay" onclick="">Restart!</button>
      </div>
    </div>
    </div>
      <div id="colTwo">
        {% include 'chat.html' %}
    </div>
      <script>
          soloMatch = false;
          myName = "{{ player }}";
          game_key = "{{ game_key }}";
          token = "{{ token }}";
          isHost = ("{{ host }}"=="yes");
    </script>
    <script src="/js/true-combined.js"></script>
    <script src="/js/host-messages.js"></script>
    <script src="/js/channel.js"></script>
<!--    <script src="/js/images.js"></script>-->
  </body>
{% endblock %}