<!DOCTYPE html>
<html>
  <head>
    <title>Rules of the Game</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/scores.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div id="rules-page">
      <div id="top">
        <h2>The Rules</h2>
      </div>
      <div id="main">
        <p>Set is a challenging game in which you have to find a set of three cards that match along four dimensions.</p>
        <p>If that makes perfect sense to you, then go ahead and start playing. Otherwise, let me explain a little bit more.</p>
        <p>The game starts by laying out a board with twelve special cards. Here are some example cards: </p>
        <p><img src="/img/0000.png"><img src="/img/1210.png"><img src="/img/0022.png"></p>
        <p><img src="/img/2101.png"><img src="/img/0120.png"><img src="/img/2011.png"></p>
        <p>You&apos;ll notice that every card has four different characteristics:<br><br>color, number, shape, fill<br><br>
          and each of those characteristics has three different possibilities.</p>
        <p>Three cards form a set if, for each of those four characteristics, the three cards are either <em>all the same</em> or <em>all different.</em></p>
        <p>That last sentence can be a little confusing, so here is an example set:</p>
        <p><img src="/img/1111.png"><img src="/img/0112.png"><img src="/img/2110.png"></p>
        <p>As you can see, these three cards all have the same number, same fill, different shapes, and different colors. That makes them a set.</p>
        <p>Here is another set:</p>
        <p><img src="/img/2022.png"><img src="/img/1112.png"><img src="/img/0202.png"></p>
        <p>These cards all have the same shape, different number, different fill, and different colors.</p>
        <p>This is not a set:</p>
        <p><img src="/img/1220.png"><img src="/img/1110.png"><img src="/img/2000.png"></p>
        <p>Even though the cards have the same shape, different numbers, and different fill, the colors are neither <em>all the same</em> nor <em>all different</em>, so there is no set.</p>
        <p>It doesn&apos;t matter how many of the characteristics are the same, and how many are different, as long as for <em>each</em> characteristic, the cards are all the same or all different. Here&apos;s one last example:</p>
        <p><img src="/img/1122.png"><img src="/img/0201.png"><img src="/img/2010.png"></p>
        <p>Different shape, different number, different color, different fill. Not so tough, right? Click the button below and start playing!</p>
      </div>
      <div id="bottom">
          <p><a href="/">Back to Game</a></p>
      </div>
    </div>
  </body>
</html>